@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateY(10px);

  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  0%, 10%, 30%, 50%, 70%, 90% {
    transform: scale(1);
  }
  20%, 40%, 60%, 80%{
    transform: scale(1.05);
  }
}

.welcoming-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.heart-image {
  position: absolute;
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 1;
  animation: fadeIn 5s ;
}

.lover-image {
  position: absolute;
  width: 450px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;
  animation: fadeIn 5s, shake 20s infinite;
}

.tomy-image {
  position: absolute;
  width: 450px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: 2;
  animation: fadeIn 5s;
}



.next-button {
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  z-index: 4;
  top: 75%;
  font-family: 'Cormorant', sans-serif; 
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  animation: fadeIn 30s;
  
}
